<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title *ngFor="let event of event">{{event.title}}</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding class="page"  *ngFor="let event of event">
<form [formGroup]="myform">

     
      <ion-item>
       <ion-label floating> Name</ion-label>
       <ion-input formControlName="name" type="text" name="title"> </ion-input>
      </ion-item>
        
    <div class="validation-errors">
     <ng-container *ngFor="let validation of validation_messages.name" >
      <div class="error-message" *ngIf="myform.get('name').hasError(validation.type) && (myform.get('name').dirty || myform.get('name').touched)">
       {{ validation.message }}
      </div>
     </ng-container>  
    </div>

  
      <ion-item>
       <ion-label floating>Roll no.</ion-label>
       <ion-input formControlName="roll_no" type="text" name="title"> </ion-input>
      </ion-item>

      <div class="validation-errors">
     <ng-container *ngFor="let validation of validation_messages.roll_no" >
      <div class="error-message" *ngIf="myform.get('roll_no').hasError(validation.type) && (myform.get('roll_no').dirty || myform.get('roll_no').touched)">
       {{ validation.message }}
      </div>
     </ng-container>  
    </div>


     <ion-item>
       <ion-label floating>Phone</ion-label>
       <ion-input formControlName="phone" type="tel" name="title"> </ion-input>
      </ion-item>
      
      <div class="validation-errors">
     <ng-container *ngFor="let validation of validation_messages.phone" >
      <div class="error-message" *ngIf="myform.get('phone').hasError(validation.type) && (myform.get('phone').dirty || myform.get('phone').touched)">
       {{ validation.message }}
      </div>
     </ng-container>  
    </div>
      

      <ion-item>
       <ion-label floating>E-mail</ion-label>
       <ion-input formControlName="email" type="text" name="title"> </ion-input>
      </ion-item>
      <ion-item><small (click)="sendOtp()">Send OTP</small></ion-item>


      <div class="validation-errors">
     <ng-container *ngFor="let validation of validation_messages.email" >
      <div class="error-message" *ngIf="myform.get('email').hasError(validation.type) && (myform.get('email').dirty || myform.get('email').touched)">
       {{ validation.message }}
      </div>
     </ng-container>  
    </div>

    <ion-item>
       <ion-label floating>Enter OTP</ion-label>
       <ion-input  type="text" name="title"> </ion-input>
      </ion-item>      

     <br>
     <button ion-button type="submit" block [disabled]="!myform.valid">Register</button>

  
     </form>


    <br>
    <h5 class="a">Rules</h5>
    <ul>
      <li *ngIf="event.rule1!=NULL">{{event.rule1}}</li>
      <li *ngIf="event.rule2!=NULL">{{event.rule2}}</li>
      <li *ngIf="event.rule3!=NULL">{{event.rule3}}</li>
      <li *ngIf="event.rule4!=NULL">{{event.rule4}}</li>
      <li *ngIf="event.rule5!=NULL">{{event.rule5}}</li>
      <li *ngIf="event.rule6!=NULL">{{event.rule6}}</li>
      <li *ngIf="event.rule7!=NULL">{{event.rule7}}</li>
      <li *ngIf="event.rule8!=NULL">{{event.rule8}}</li>
      <li *ngIf="event.rule9!=NULL">{{event.rule9}}</li>
      <li *ngIf="event.rule10!=NULL">{{event.rule10}}</li>
    </ul>   

</ion-content>
