page-register {
.toolbar-background {
  background-color: #142132;
}
.title{
	color:#fff;
	font-family: 'Libre Baskerville', serif;
}

.a{
	text-align:center;
}
.page {
  background-color:#F5F3F6;
}

}
