page-home {

.toolbar-background {
  background-color: #142132;
}
.title{
	color:#fff;
	font-family: 'Libre Baskerville', serif;
}
.page {
  background-color:#F5F3F6;
}
.a{
	font-family: 'Patua One', cursive;
	color: #fff;
}

.card{
	font-family: 'Roboto Slab', serif;
}
}

