<!--
  Generated template for the ContactUsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
<ion-navbar>
  	<ion-buttons end>
  		<button ion-button icon-only (click)="dismiss()">
  			<ion-icon name="close"></ion-icon>
  		</button>
  	</ion-buttons>
    <ion-title><h4 class="title">Contact Us</h4></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="page">

<h6 class="d">Drop a Mail</h6>


<form [formGroup]="myform">
     
      <ion-item>
       <ion-label floating> Name</ion-label>
       <ion-input formControlName="name" type="text" name="title"> </ion-input>
      </ion-item>
        
    <div class="validation-errors">
     <ng-container *ngFor="let validation of validation_messages.name" >
      <div class="error-message" *ngIf="myform.get('name').hasError(validation.type) && (myform.get('name').dirty || myform.get('name').touched)">
       {{ validation.message }}
      </div>
     </ng-container>  
    </div>

  
      <ion-item>
       <ion-label floating>E-mail</ion-label>
       <ion-input formControlName="email" type="text" name="title"> </ion-input>
      </ion-item>

      <div class="validation-errors">
     <ng-container *ngFor="let validation of validation_messages.email" >
      <div class="error-message" *ngIf="myform.get('email').hasError(validation.type) && (myform.get('email').dirty || myform.get('email').touched)">
       {{ validation.message }}
      </div>
     </ng-container>  
    </div>
    

  
      <ion-item>
       <ion-label floating>Phone</ion-label>
       <ion-input formControlName="phone" type="tel" name="title"> </ion-input>
      </ion-item>

      <div class="validation-errors">
     <ng-container *ngFor="let validation of validation_messages.phone" >
      <div class="error-message" *ngIf="myform.get('phone').hasError(validation.type) && (myform.get('phone').dirty || myform.get('phone').touched)">
       {{ validation.message }}
      </div>
     </ng-container>  
    </div>
     

    
      <ion-item>
       <ion-label floating>Message</ion-label>
       <ion-input formControlName="message" type="text" name="title"> </ion-input>
      </ion-item>

      <div class="validation-errors">
     <ng-container *ngFor="let validation of validation_messages.message" >
      <div class="error-message" *ngIf="myform.get('message').hasError(validation.type) && (myform.get('message').dirty || myform.get('message').touched)">
       {{ validation.message }}
      </div>
     </ng-container>  
    </div>
      

     <br>
     <button ion-button type="submit" block [disabled]="!myform.valid">Submit</button>

  
</form>



<br>  
<br>
<h6>Phone : <a href="tel:+91-9818-578798" style="color: #000000"><ion-icon name="call" class="a"></ion-icon>     +91-9818-578798</a></h6>
<h6>E-mail : <a href="mailto:social_service_club@gmail.com?Subject=Hello%20again" target="_top" style="color: #000000">
<ion-icon name="mail" class="a"></ion-icon>     social_service_club@gmail.com</a></h6>



</ion-content>